.container {
  margin: 0 auto;
  width: 1170px;
  position: relative;
}

.section {
  min-height: 100vh;
}

.section-title {
  font-size: 42px;
  font-weight: bold;
  font-family: "panton", Helvetica, sans-serif;
  margin-bottom: 30px;
}