@font-face {
  font-family: 'panton';
  src: url('~@/fonts/panton-bold-webfont.woff2') format('woff2'),
       url('~@/fonts/panton-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: 'proxima';
  src: url('~@/fonts/proxima_nova_semibold-webfont.woff2') format('woff2'),
       url('~@/fonts/proxima_nova_semibold-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: optional;  
}

@font-face {
  font-family: 'proxima';
  src: url('~@/fonts/proximanova-light-webfont.woff2') format('woff2'),
       url('~@/fonts/proximanova-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: optional;
}


@font-face {
  font-family: 'proxima';
  src: url('~@/fonts/proximanova-lightit-webfont.woff2') format('woff2'),
       url('~@/fonts/proximanova-lightit-webfont.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: optional;
}
