.auth-page__form {
  background: #fff;
  border-radius: 7px;
  overflow: hidden;
  width: 280px;
}

.auth-page__btns-ps {
  span:first-child {
    margin-right: 4px;
  }
}

.auth-page__form-buttons {
  text-align: left;
  padding: 5px 20px 10px;
}

.auth-page__remember {
  margin-bottom: 15px;
}

.auth-page__btns-wrap {
  margin-bottom: 7px;
}