$items-margin: 20px;
.cards-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -$items-margin;
  &--row-by-4 {
    .cards-list__item {
      width: calc(100% / 4 - $items-margin);
    }
  }
}

.cards-list__item {
  width: calc(100% / 3 - $items-margin);
  margin-left: $items-margin;
  margin-bottom: 20px;
}