.album-card {
  display: block;
  text-decoration: none;
  color: inherit;
  overflow: hidden;
  border-radius: 7px;
  box-shadow: 0 1px 4px 0 rgba(#000, .15);
}

.album-cart__display {
  cursor: pointer;
}

.album-card__photo {
  height: 280px;
  background: no-repeat center center / cover;
}

.album-card__data {
  background: #fff;
  padding: 15px;
  font-weight: 500;
  
}