.search__input {
  padding: 10px 20px;
  border-radius: 100px;
  outline: none;
  border: 1px solid #d8d6d6;
  cursor: pointer;
  width: 100%;

  &--textarea {
    resize: none;
    border-radius: 26px;
    height: 120px;
  }

  &:focus {
    border-color: $blue;
  }

  &.error {
    border-color: $red;
  }
}