.likes-display {
  width: 100%;
}

.likes-display__container {
  display: flex;
  justify-content: center;
  padding: 5px 0px;
  color: $black;
}

.likes-display__item {
  margin-right: 35px;
  font-weight: 500;
  &:last-child {
    margin-right: 0;
  }
}

.likes-display__amount {
  font-family: "panton";
  font-weight: bold;
}