.inner-content {
  padding: 0 60px;
}

.details {
  padding: 20px;
  background: #fff;
}

.user {
  display: flex;
  align-items: center;
}

.details__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user__avatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  overflow: hidden;
  margin-right: 25px;
}

.user__name {
  font-size: 16px;
  font-weight: bold;
}