.inner-content {
  padding: 0 60px;
}

.details {
  padding: 20px;
  background: #fff;
}

.user {
  display: flex;
  align-items: center;
}

.details__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.user__avatar {
  margin-right: 25px;
}

.user__name {
  font-size: 16px;
  font-weight: bold;
}

.details__title {
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 12px;
}

.details__text {

}