.search {
  position: relative;

  &:before {
    content: "";
    background: svg-load('icons/search.svg', fill=#888888) center center no-repeat;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 14px;
    left: 16px;
  }
}

.search__input {
  padding-left: 38px;
}