.round-btn {
  padding: 10px 20px;
  border-radius: 100px;
  border: 1px solid $blue;
  color: $blue;
  min-width: 130px;
  font-size: 14px;
  font-family: "panton";
  font-weight: bold;
  transition: .3s;
  outline: none;
  
  &:hover, &:focus {
    background: $blue;
    color: #fff;
  }
}