.header {
  position: relative;
  color: #fff;
  padding: 55px 0;
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
  }
}

.header__user {
  width: 60%;
}

.header__edit-button {
  position: absolute;
  right: 0;
  top: 0;
}